* {
    background-color: #FF7396;
    color: #FFFFDE;
}

button {
   border-color: white; 
}

.test {
    margin: 5px;
}

.usedLet {
    border: 1px solid black;
}
/* design inspo https://hangmanwordgame.com/?fca=1&success=0#/ */